.upload__modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	overflow-y: auto;
	padding: 1rem;
	background: rgba(0, 0, 0, 0.3);

	&__content {
		width: 80%;
		height: 100%;
		max-height: 800px;
		background: var(--white);
		display: flex;
		flex-direction: column;

		@media screen and (max-width: 700px) {
			width: 97%;
		}

		&__header {
			width: 100%;
			padding: 3rem 1rem 0;
			display: flex;
			justify-content: flex-start;
			align-items: flex-end;
			box-shadow: 3px 4px 4px 2px rgba(0, 0, 0, 0.15);

			button {
				border: none;
				border-radius: 0;
				background: none;
				font-weight: bold;
				font-size: 1.5rem;
				color: #000;
				padding: 0.5rem 1rem;
				border-bottom: 3px solid transparent;

				&.active {
					border-color: var(--Purple);
				}
			}
		}

		&__body {
			flex: auto;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: relative;

			.in__dropzone {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				backdrop-filter: blur(10px);
				border: 1px solid var(--Purple);
				background: rgba(33, 52, 224, 0.1);
				display: flex;
				justify-content: center;
				align-items: center;

				button {
					border: none;
					padding: 1rem 0.6rem;
					background: var(--Purple);
					color: var(--white);
					font-size: 1rem;
				}
			}

			h2 {
				font-weight: bold;
				font-size: 1.5rem;
				color: rgba(0, 0, 0, 0.49);
				margin-bottom: 2rem;
			}

			p {
				font-weight: bold;
				font-size: 1.5rem;
				color: #000;
				margin-bottom: 2rem;
			}

			form {
				div {
					display: flex;
					justify-content: center;
					align-items: center;
					text-align: center;
					border: none;
					width: 100%;
					max-width: 306px;
					height: 54px;
					background: #c4c4c4;
					color: #000;
					font-weight: bold;
					font-size: 1.1rem;
					cursor: pointer;
					padding: 0 .3rem;

					&:hover{
						box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
					}
				}
			}

			.file__preview{
				position: relative;
				height: 300px;
				width: 300px;
				border: 1px solid var(--Dark-Blue);
				border-radius: 11px;
				box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

				.image{
					height: 70%;
				}

				.file__name{
					height: 30%;
					color: #000;
					display: flex;
					border-top: 1px solid var(--Dark-Blue);
					justify-content: center;
					align-items: center;
				}

				.close{
					background: var(--Dark-Blue);
					width: 25px;
					height: 25px;
					border-radius: 50%;
					position: absolute;
					top: 10px;
					right: 15px;
					font-size: 1rem;
					font-weight: bold;
					color: var(--white);
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
				}
			}

		}

		&__footer {
			width: 100%;
			padding: 2rem;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			border-top: 1px solid var(--light-black);

			button {
				width: 180px;
				height: 50px;
				border: none;
				border-radius: 10px;
				font-weight: bold;
				font-size: 1.5rem;
				padding: 0.5rem 1rem;

				&.upload {
					color: var(--white);
					margin-right: 1.5rem;
					background: var(--Purple);

					&:disabled {
						background: rgba(33, 52, 224, 0.49);
						cursor: not-allowed;

					}
				}

				&.cancel {
					background: rgba(33, 52, 224, 0.11);
					color: #000;
				}
			}
		}
	}
}
