#table {
	position: relative;
	display: table;
	overflow-x: auto;
	white-space: nowrap;
	border-collapse: collapse;
	text-align: center;
	width: 100%;
	border-bottom: 1px solid var(--Dark-Blue);

	.table__head,
	.table__data {
		padding: 2rem 1rem;
		min-width: 270px;

		&:first-child {
			min-width: 100px;
		}
	}

	.table__header {
		width: 100%;
		box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
			rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

		.table__head {
			background: #e5ecf7;
			font-size: 1.25rem;
			font-weight: bold;

			@media screen and (max-width: 600px) {
				font-size: 1rem;
			}
		}
	}

	.table__body {
		.table__row {
			position: relative;

			.table__row__options{
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba($color: #000000, $alpha: 0.2);
			}

			&:nth-child(even) {
				background: var(--light-blue);
			}

			&:nth-child(odd) {
				.table__data {
					border-right: 1px solid var(--Dark-Blue);

					&:last-child {
						border-right: none;
					}
				}
			}

			.table__data{
				font-size: 1rem;

				button{
					padding: .5rem;
					border-radius: 2px;
					border: 1px solid var(--Dark-Blue);
					margin-right: 1rem;

					i{
						font-size: 1rem;
						color: var(--Dark-Blue);

						&.fa-trash{
							color: red;
						}
					}
				}

				@media screen and (max-width: 600px) {
					font-size: .8rem;
				}
			}
		}
	}
}
