#main__content {
	transition: margin 0.4s ease-in-out;
	position: relative;
	height: 100vh;

	.header {
		position: sticky;
		top: 0;
		left: 0;
		z-index: 10;
		width: 100%;
		padding: 0 1rem;
		height: 80px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		background: var(--white);
		box-shadow: 3px 4px 4px 2px rgba(0, 0, 0, 0.15);

		button {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 45px;
			border: none;
			border-radius: 15px;
			background: var(--Purple);
			color: var(--white);
			font-size: 1.5rem;
			font-weight: bold;
			padding: 0 1rem;

			&:hover,
			&:focus {
				box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
			}

			&.hamburger {
				background: none;
				color: black;
				display: none;

				#nav-icon1 {
					width: 30px;
					height: 25px;
					position: relative;
					margin: 0;
					-webkit-transform: rotate(0deg);
					-moz-transform: rotate(0deg);
					-o-transform: rotate(0deg);
					transform: rotate(0deg);
					-webkit-transition: 0.5s ease-in-out;
					-moz-transition: 0.5s ease-in-out;
					-o-transition: 0.5s ease-in-out;
					transition: 0.5s ease-in-out;
					cursor: pointer;
				}

				#nav-icon1 span {
					display: block;
					position: absolute;
					height: 4px;
					width: 100%;
					background: var(--Dark-Blue);
					border-radius: 9px;
					opacity: 1;
					left: 0;
					-webkit-transform: rotate(0deg);
					-moz-transform: rotate(0deg);
					-o-transform: rotate(0deg);
					transform: rotate(0deg);
					-webkit-transition: 0.25s ease-in-out;
					-moz-transition: 0.25s ease-in-out;
					-o-transition: 0.25s ease-in-out;
					transition: 0.25s ease-in-out;
				}

				#nav-icon1 span:nth-child(1) {
					top: 0px;
				}

				#nav-icon1 span:nth-child(2) {
					top: 9px;
				}

				#nav-icon1 span:nth-child(3) {
					top: 18px;
				}

				#nav-icon1.open span:nth-child(1) {
					top: 9px;
					-webkit-transform: rotate(135deg);
					-moz-transform: rotate(135deg);
					-o-transform: rotate(135deg);
					transform: rotate(135deg);
				}

				#nav-icon1.open span:nth-child(2) {
					opacity: 0;
					left: -60px;
				}

				#nav-icon1.open span:nth-child(3) {
					top: 9px;
					-webkit-transform: rotate(-135deg);
					-moz-transform: rotate(-135deg);
					-o-transform: rotate(-135deg);
					transform: rotate(-135deg);
				}
			}
		}

		@media screen and (max-width: 600px) {
			justify-content: space-between;
			transition: margin 0.4s ease-in-out;

			button {
				font-size: 1.1rem;
				transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;

				&.hamburger {
					display: block;
				}

				&.closed__button {
					opacity: 0;
					visibility: hidden;
				}
			}
		}
	}

	.main {
		.title {
			margin: 2rem 1rem;
		}

		.result__details {
			width: 100%;
			padding: 1rem;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			margin-top: 3rem;

			p {
				font-size: 1.2rem;
				font-weight: bold;
				color: rgba(0, 0, 0, 0.59);

				@media screen and (max-width: 600px) {
					font-size: 0.9rem;
				}

				.purple {
					color: var(--Purple);
				}
			}
		}

		.results__table {
			margin: 2rem 0 0;
			overflow-x: auto;

			&.top {
				overflow-y: auto;
				height: calc(100vh - 80px);

				#table,
				.table__header,
				.table__head {
					position: -webkit-sticky;
					position: sticky;
					top: 0;
					left: 0;
					z-index: 2;
				}
			}
		}

		.paginate__container {
			width: 100%;
			height: 80px;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			padding: 0 1rem;
			
			.paginator{
				overflow-x: auto;
				width: 100%;
				max-width: 320px;
			}

			.paginate {
				display: flex;
				align-items: center;
				justify-content: flex-end;

				&__break {
					border: 1px solid var(--Purple);
					padding: 0.5rem 1rem;
					margin: 0 0.5rem;
					cursor: pointer;

					&__link {
						color: var(--Purple);
					}

					&:hover {
						background: var(--Purple);

						.paginate__break__link {
							color: var(--white);
						}
					}
				}

				&__page {
					border: 1px solid var(--Purple);
					padding: 0.5rem 1rem;
					margin-left: .2rem;
					cursor: pointer;

					&__link {
						color: var(--Purple);
					}

					&__active {
						background: var(--Purple);
						
						&__link {
							color: var(--white);
						}
					}
					
					&:hover {
						background: var(--Purple);
						opacity: .8;

						.paginate__page__link,
						.paginate__page__active__link {
							color: var(--white);
						}
					}
				}

				&__next {
					border: 1px solid var(--Purple);
					padding: 0.5rem 1rem;
					margin-left: 1rem;
					color: var(--Purple);
					cursor: pointer;

					&__link {
						i {
							font-size: 1rem;
							color: var(--Purple);
						}
					}

					&:hover {
						background: var(--Purple);

						.paginate__next__link {
							i {
								font-size: 1rem;
								color: var(--white);
							}
						}
					}
				}

				&__previous {
					border: 1px solid var(--Purple);
					padding: 0.5rem 1rem;
					margin-right: 1rem;
					color: var(--Purple);
					cursor: pointer;

					&__link {
						i {
							font-size: 1rem;
							color: var(--Purple);
						}
					}

					&:hover {
						background: var(--Purple);

						.paginate__previous__link {
							i {
								font-size: 1rem;
								color: var(--white);
							}
						}
					}
				}

				&__next,
				&__next:hover,
				&__previous,
				&__previous:hover {
					&.paginate__disabled {
						opacity: 0.6;
						cursor: not-allowed;
						background: none;
						color: var(--Purple);

						i {
							color: var(--Purple);
						}
					}
				}
			}
		}
	}
}
