.dropdown {
	display: flex;
	flex-direction: column;
	max-width: 300px;
	margin: 1rem 0;

	&__label {
		display: block;
		font-weight: bold;
		font-size: 0.9rem;
		color: #000;
	}

	.custom__dropdown {
		margin: 0.5rem 0;
		border: 1px solid var(--Dark-Blue);
        
		&__control {
            width: 100%;
            display: flex;
            justify-content: space-between;
			align-items: center;
			border: none;
			cursor: pointer;
			background: none;
			color: var(--Purple);
			font-weight: bold;
			font-size: 1.1rem;
			padding: .3rem 1rem;

			.is-selected {
				color: var(--Dark-Blue);
			}

			i {
				margin-left: 0.7rem;
				color: var(--Dark-Blue);
				font-size: 0.9rem;
			}

			@media screen and (max-width: 600px) {
				font-size: 0.8rem;
			}
		}
	}
}
