#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 104px;
	height: 100vh;
	background: var(--Dark-Blue);
	transition: width 0.4s ease-in-out;

	& + #main__content,
	& + #employee__details__content,
	& + #add__employee__content,
	& + #employee__records__content {
		margin: 0 0 0 104px;
	}

	p {
		color: var(--white);
	}

	.sidebar__navbar {
		width: 100%;

		ul {
			width: 100%;

			li {
				padding: 1rem 2rem;
				margin: 1rem 0;

				button {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					width: 100%;
					border: none;
					background: none;
					color: var(--white);
					opacity: 0.5;
					font-size: 1.5rem;

					&:hover {
						opacity: 1;
					}

					p {
						opacity: 0;
						visibility: hidden;
						white-space: nowrap;
						overflow: hidden;
						transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
					}

					i {
						margin-right: 1rem;
					}
				}
			}
		}
	}

	&:hover {
		width: 304px;

		& + #main__content,
		& + #employee__details__content,
		& + #add__employee__content,
		& + #employee__records__content {
			margin: 0 0 0 304px;
		}

		.sidebar__navbar {
			ul {
				li {
					button {
						p {
							opacity: 1;
							visibility: visible;
						}
					}
				}
			}
		}
	}

	@media screen and (max-width: 600px) {
		left: -100vw;
		transition: left 0.4s ease-in-out;

		& + #main__content,
		& + #employee__details__content,
		& + #add__employee__content,
		& + #employee__records__content {
			margin: 0;
		}

		&.expand {
			left: 0;

			& + #main__content header,
			& + #employee__details__content header,
			& + #add__employee__content header,
			& + #employee__records__content header {
				margin: 0 0 0 104px;
			}
		}

		&:hover {
			width: 104px;

			& + #main__content,
			& + #employee__details__content,
			& + #add__employee__content,
			& + #employee__records__content {
				margin: 0;
			}
		}
	}
}
